/* ------------------ Font Face ------------------ */
@font-face {
  font-family: "Gyeonggi_Title_Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GyeonggiTitleLight";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/GyeonggiTitleLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/GyeonggiTitleLight.woff")
    format("woff");
  font-style: normal;
}

/* ------------------ Global Reset ------------------ */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  background-color: #0064ff;
  box-sizing: border-box;
}

/* ------------------ Container ------------------ */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  gap: 50px;
  transition: transform 0.8s ease-in-out;
}

/* ------------------ Title Animation ------------------ */
.name {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color: #b3e0ff;
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 8px 9px #0056cc, 0px -2px 1px #d9f1ff;
  white-space: nowrap;
  margin: 0;
  display: inline-block;
  transition: transform 0.8s ease-in-out;
}

.name::after {
  content: "";
  display: inline-block;
  animation: blink 0.8s;
  color: #b3e0ff;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ------------------ Navigation ------------------ */
nav {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  opacity: 0;
  transform: translateY(50px);
  letter-spacing: 3px;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

nav a {
  color: #0064ff;
  background-color: #edfaff;
  padding: 25px;
  font-size: 1.8em;
  border-radius: 15px;
  width: 200px;
  text-align: center;
}

nav a:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgb(255, 255, 148);
}

.show-nav nav {
  opacity: 1;
  transform: translateY(0);
}

.show-nav .name {
  transform: translateY(-50px);
}

/* ------------------ Modal ------------------ */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(76, 111, 121, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: linear-gradient(#ffffff, #a1dbff);
  padding: 15px 35px;
  border-radius: 15px;
  width: 90%;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  color: #555;
  cursor: pointer;
}

.close:hover {
  color: #0064ff;
}

/* ------------------ Profile ------------------ */
.profile {
  max-width: 1000px;
}

.contact {
  max-width: 400px;
}

.profile-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.profile_img {
  background-image: url("images/profile.png");
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-right {
  flex: 1;
  text-align: left;
  position: relative;
}

h1,
.call h4 {
  font-family: "Gyeonggi_Title_Medium";
  color: #3683f5;
  letter-spacing: 5px;
}

.call h4 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.profile p,
.profile h3 {
  font-family: "Gyeonggi_Title_Medium";
  letter-spacing: 2px;
  font-size: 1.5em;
  color: #555;
  margin: 0 0 10px 10px;
}

.profile h3 {
  margin-top: 15px;
  color: #609bf5;
  flex-direction: row;
}

.profile ul {
  font-family: "GyeonggiTitleLight";
  list-style: none;
  margin: 5px 0 0 8px;
  line-height: 1.8;
}

.profile li {
  font-size: 1.2em;
}

.profile span {
  color: rgb(128, 128, 128);
}

/* ------------------ Career ------------------ */

.career {
  max-width: 600px;
}
.career ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  gap: 50px;
  margin: 10px 0 20px 0;
}

.career button {
  background: none;
  border: none;
  padding: 30px 30px;
  border-radius: 15px;
  font-family: "Gyeonggi_Title_Medium";
  letter-spacing: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.star-icon {
  position: absolute;
  top: -12px; /* 위로 올리기 */
  left: -28px; /* 왼쪽으로 당기기 */
  width: 30px;
  height: 30px;
  fill: #87cefa;
}

.star-text {
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  color: #3b5fe0;
}
.career button:hover {
  cursor: pointer;
  background-color: #3683f5;
}

.career button:hover .star-text .star-icon {
  fill: rgb(255, 255, 183) !important;
}

.career button:hover span:nth-of-type(1) {
  color: #fff !important;
}

.career button:hover span:nth-of-type(2) {
  color: rgb(255, 255, 183) !important;
}

.career button:hover span:nth-of-type(3) {
  color: #caebff !important;
}

.career span:nth-of-type(1) {
  font-size: 2em;
  text-align: left;
  color: #3683f5;
  line-height: 1.4;
}

.career span:nth-of-type(2) {
  font-size: 1.4em;
  color: #8a98b6;
  line-height: 1.7;
}

.career span:nth-of-type(3) {
  font-size: 1em;
  color: #a6b1c9;
  line-height: 1.9;
}
.micro,
.oled {
  max-width: 1000px;
}
/* ------------------ Social Icons ------------------ */
.social-icons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
